<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.manage_course.dao.CourseMapper">
    <select id="findCourseBaseById" parameterType="String" resultType="com.xuecheng.framework.domain.course.CourseBase">
        select * from course_base where id = #{id}
    </select>
    <select id="findCourseListPage" resultType="com.xuecheng.framework.domain.course.ext.CourseInfo">
            SELECT
            cb.*,cp.pic
            FROM
            course_base cb
            LEFT JOIN course_pic cp ON cb.id = cp.courseid
        <if test="courseListRequest !=null and courseListRequest.companyId != null">
            WHERE
            cb.company_id = #{courseListRequest.companyId}
        </if>
    </select>
</mapper>